* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
.main-header {
  background-image: url(images/walldecorations.webp);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main-header .image {
  opacity: 0.8;
  background-color: gray;
  position: fixed;
  padding: 20px;
  width: 100%;
  display: flex;
}
.main-header .logoContent {
  width: 20%;
}
.main-header .logoContent a {
  color: white;
}
.main-header .logoContent a span {
  color: rgb(108, 69, 6);
}
.main-header .nav {
  width: 50%;
  vertical-align: baseline;
}
.main-header .theme {
  width: 30%;
}
.main-header ul {
  list-style-type: none;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.main-header li {
  padding: 20px;
  display: inline-block;
}
.main-header li a {
  color: white;
}
.main-header .theme {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-header .theme input[type="text"] {
  height: 40px;
  width: 150px;
  border-radius: 5px;
}
.main-header .theme button {
  height: 45px;
  width: 70px;
  background-color: rgb(108, 69, 6);
  border: 2px solid white;
  border-radius: 5px;
}
.main-header .theme button:hover {
  background-color: white;
  border: 2px solid rgb(108, 69, 6);
  border-radius: 5px;
}
.main-header .theme span {
  margin-top: 5px;
  font-size: 25px;
}
.image-content {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 10px;
  text-shadow: 5px 5px 5px black;
}
.image-content p {
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: lowercase;
}
.image-content h1 {
  margin: 5px;
}
.image-content .btnstart {
  background-color: orangered;
  color: white;
  border-radius: 40px;
  height: 50px;
  width: 120px;
  font-size: 0.15in;
}
.image-content .btncon {
  background-color: white;
  color: rgb(2, 2, 36);
  border-color: rgb(2, 2, 36);
  border-radius: 40px;
  height: 50px;
  width: 120px;
  font-size: 0.15in;
}
.image-content button span {
  font-size: 15px;
}
.image-content .btncon:hover {
  color: white;
  background-color: rgb(2, 2, 36);
  border-color: white;
}
.infor-1 {
  height: 500px;
  width: 100%;
}
.infor-1 p {
  text-align: center;
  text-transform: uppercase;
  color: rgb(30, 30, 125);
  font-weight: bolder;
  margin: 50px 0px 20px 0;
}
.infor-1 h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
.infor-1 .blog {
  width: 100%;
  /* display: flex */
  display: grid;
  padding: 40px;
  grid-template-columns: auto auto auto;
  gap: 40px; /* row-column*/
  text-align: center;
}
.infor-1 .blog1 {
  /* width: 30%; */
  padding: 20px;
  height: 300px;
  box-shadow: 0px 5px 2px gray;
}
.infor-1 .blog2 {
  /* width: 30%; */
  box-shadow: 0px 5px 2px gray;
  padding: 20px;
}
.infor-1 .blog3 {
  /* width: 30%; */
  box-shadow: 0px 5px 2px gray;
  padding: 20px;
}
.infor-1 span {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  height: 70px;
  width: 70px;
  padding: 10px;
  border-radius: 20px;
}
.infor-1 .blog1 span {
  background-color: rgb(5, 78, 107);
  color: white;
}
.infor-1 .blog2 span {
  background-color: palevioletred;
  color: white;
}
.infor-1 .blog3 span {
  background-color: orange;
  color: white;
}
.infor-1 .blog .detail {
  color: gray;
  text-transform: lowercase;
  margin: 10px;
}
