@media (min-width: 1200px) {
  .main-header {
    height: 700px;
    width: 100%;
  }
  .main-header .image {
    display: flex;
    flex-wrap: wrap;
  }
  .main-header .image .logoContent {
    width: 20%;
  }
  .main-header .image .nav {
    width: 50%;
  }
  .main-header .image .theme {
    width: 30%;
  }
  .infor-1 .blog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
