body {
  background-image: url(plainimage.png);
  /* background-position: left; */
  background-size: cover;
  background-repeat: no-repeat;
}
.regform {
  background-color: white;
  height: max-content;
  width: 20%;
  padding: 20px;
  margin: 20px auto;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input[type="text"],
[type="email"],
[type="password"] {
  height: 20px;
  width: 250px;
}
input[type="submit"] {
  height: 30px;
  width: 260px;
  background-color: rgb(13, 131, 228);
  font-weight: bold;
  color: white;
  border: 2px solid white;
}
input[type="submit"]:hover {
  background-color: transparent;
  font-weight: bold;
  color: rgb(13, 131, 228);
  border: 2px solid rgb(13, 131, 228);
}
fieldset {
  width: 230px;
}
select {
  height: 30px;
  width: 260px;
}
